.corner-logo {
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 10;
}
    
.hud-fade-in {
    animation: fadeIn 1s forwards;
}

.hud-fade-out {
    animation: fadeOut 0.5s forwards;
}