@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  height: 100%;
  width: 100%;
}

html, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  overflow: hidden;
}
