/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable selector-id-pattern */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  width: 100%;
  height: 100%;
}

html,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
