.location-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: black;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 10;
}
  
.location-info-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
  
.slide-in {
    animation: slide-in 0.5s forwards;
}

.location-line {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 300px
}

.location-line-loaded {
    border-top: 2px solid white;
}